.search{
    margin-bottom: 10px;
}
.searchInput{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;

}

.searchInput > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}

.searchInput > input:focus{
    outline-width: 0;

}

.searchInputIcon{
    color: gray;
}

.searchButtons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.searchButtons button{
    padding: 7px 15px;
    margin: 5px;
    /* border: 1px solid white; */
    text-transform: inherit;
    color: #5f6368;
}
.searchButtons > button:hover{
    cursor: pointer;
}

.searchButtonsHidden{
    display: none !important;
}